*{
    margin: 0;
    padding: 0;
    font-family: 'Point Bold', sans-serif;
}

header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('GSB.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo{
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

#link{
    text-shadow: 1px 4px 4px rgba(0,0,0,0.35);
    margin-right: 10vh;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav{
    background-color: #ffffff;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#link{
    margin-right: 10px;
}
#link>a{
    margin: 40px;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
.box{
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boxVoir{
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxrow{
    display: flex;
    justify-content: flex-start;
}

.login, .visiteurSearch, .rapportSearch, .rapport, .visiteur {
  background: #eceeee;
  border: 1px solid #42464b;
  height: 400px;
  width: 400px;
  border-radius: 20px;
}

.visiteurSearch>h2, .rapportSearch>h2{
    padding-bottom: 10px;
    border-bottom: 10px solid  #64A2D4;
}

input[type="password"], input[type="text"], input[type="date"]{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  color: #696969;
  height: 39px;
  margin: 10px 0 0 55px;
  padding-left: 37px;
  width: 240px;
}

input[type="password"]:focus, input[type="text"]:focus, input[type="date"]:focus {
  box-shadow: 0 0 4px 1px #64A2D4;
  outline: 0;
}

input[type="submit"] {
  width:300px;
  height:40px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:black;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #64A2D4;
  padding-top:6px;
  margin: 50px 50px 50px 50px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #64A2D4;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #64A2D4, 0px 5px 0px 0px #457094, 0px 10px 5px #999;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #64A2D4, 0px 2px 0px 0px #64A2D4, 0px 5px 3px #999;
}

#userNameSearch, #rapportIdSearch, #rapportBilanSearch{
    width: 100px;
    margin-top: 20px;
    margin-left: 40px;
}

#userIdSearch, #rapportDateSearch, #rapportMotifSearch{
    width: 100px;
    margin-left: 35px;
}

#userDateSearch{
    width: 280px;
    margin-top: 20px;
    margin-left: 40px;
}

#userSubmit, #rapportSubmit{
    width: 200px;
    margin-left: 160px;
}

.visiteurSearch, .rapportSearch{
    height: 300px;
}

.visiteurSearch{
    margin-right: 300px;
}

.connectedUser{
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 20px;
    margin-right: 100px;
    height: 200px;
    width: 200px;
}

.connectedUser>h2{
    padding-bottom: 20px;
    border-bottom: 5px solid  #64A2D4;
}

.connectedUser>h3{
    color: #64A2D4;
    padding: 50px 0 0 50px ;
}

#rapportDate{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 30px #64A2D4;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#rapportMotif{
    padding-top: 5px;
    border-top: solid 2px black;
    display: flex;
}

#rapportMotif>p{
    margin-left: 30px;
}

#visiteurId{
    border-top: solid 30px #64A2D4;
    border-radius: 20px;
    justify-content: space-between;
    padding-top: 5px;
}

#visiteurId, #visiteurName, #visiteurHiringDate{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#visiteurName, #visiteurHiringDate {
    padding-top: 5px;
    border-top: solid 2px black;
    justify-content: space-between;
}

button[type="btn"]{
    width: 150px;
    height:40px;
    margin-left: 45vh;
    margin-top: 30px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color:black;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #64A2D4;
    cursor:pointer;
    position:relative;
    border: none;  
    background-color: #64A2D4;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #64A2D4, 0px 5px 0px 0px #457094, 0px 10px 5px #999;
}

button[type="btn"]:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #64A2D4, 0px 2px 0px 0px #64A2D4, 0px 5px 3px #999;
  }